<h3> BAN 100 Assignment: 1993 Cars Analysis</h3>

<p>In this data audit report, we will be analyzing a data set from a client that contains information about 1993 vehicles to understand it more clearly as well as explore its statistical characteristics. This data set has <b>93 rows</b> and <b>26 columns</b> as the table below describes the meaning of each column.<p>

```
| First Header  | Second Header |
| ------------- | ------------- |
| Content Cell  | Content Cell  |
| Content Cell  | Content Cell  |
```